*.pydevproject
.project
/home/luis/Programacion_Android/java_repos/testLuis.git/test/.metadata/
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.buildpath
