*.pydevproject
.project
test/.metadata/*
test/.metadata/plugins
bin/**
tmp/**
tmp/**/*
*.ini
*.log
*.tmp
*.xml
*.zip
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.buildpath
